body {
    background: #f9fffb;
    font-family: 'inter', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 48px;
    padding: 10px 0;

}

.logo {
    padding-left: 2%;

    color: #0cca4b;
    font-size: 90px;

}

.content {
    display: flex;
    flex-direction: row;
    margin: 1% 10% 0px 10%;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 500px;

}

.area-de-texto-principal {
    height: 90%;
    width: 100%;
    padding: 20px 12px 0 20px;
    resize: none;
    background: transparent;
    border: 1px solid rgb(12, 202, 75);
    outline: none;
    color: #0A3871;
    font-size: 30px;
    box-sizing: border-box;

}

.aviso {
    text-align: left;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    color: #0cca4b;
}

.botoes {
    display: flex;
    flex-direction: row;
}

#botao-criptografar {
    color: #FFFFFF;
    background-color: #0cca4b;
}

#botao-descriptografar {
    color: #0cca4b;
    background-color: #ffffff;
    border: 1px solid #0cca4b;
}

#botao-copiar {
    color: #FFFFFF;
    background-color: #0cca4b;
}

.botao {
    margin-right: 10px;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
}

#botao-criptografar:hover,
.copiar:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #0cca4b;
    transition: 0.4s;
    border: 1px solid #0cca4b;
}

#botao-descriptografar:hover {
    cursor: pointer;
    background-color: #0cca4b;
    color: #ffffff;
    transition: 0.4s;
}

#botao-copiar:hover {
    cursor: pointer;
    color: #0cca4b;
    background-color: #ffffff;
    transition: 0.4s;
    border: 1px solid rgb(12, 202, 75);
}

.sessao-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 500px;

}

.texto-resultante {
    height: 100%;
    width: 70%;
    margin-bottom: 10px;
    background: #0cca4b url('detetive.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.textarea {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    resize: none;
    outline: none;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

#area-de-texto2::placeholder {
    color: rgb(255, 255, 255);
}



.copiar {
    color: #FFFFFF;
    background-color: #0A3871;
}

.rodape {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;

}

.rodape p {
    text-align: center;
    color: #495057;
    font-size: 15px;
    padding: 5px 5px;
}

.rodape a {
    padding: 10px 0;
}

.rodape a img {
    height: 25px;
    padding: 2px 0;
}


@media screen and (max-width: 780px) {
    .content {
        flex-direction: column;
    }

    .principal {
        width: 100%;
    }

    .logo {
        font-size: 70px;

    }

    .area-de-texto-principal {
        font-size: 25px;
    }

    .sessao-resultado {
        width: 100%;
        height: 200px;
    }

    .texto-resultante {
        width: 90%;
        height: 100%;
        margin-top: 20px;
        background: #0cca4b;
        border-radius: 30px;
    }

    .rodape {
        flex-direction: column;
        margin-top: 20px;
    }

    .imagem-rodape {
        text-align: center;
        padding: 0;
        margin: 3px 0;
    }

    .rodape a img {
        height: 40px;
        padding: 1px 0;
    }

    .rodape p {
        padding: 2px 0;
        font-size: 15px;
    }


}

@media screen and (max-width: 400px) {
    .area-de-texto-principal {
        font-size: 20px;
    }

    .logo {
        font-size: 60px;

    }

    .aviso {
        font-size: 11px;
    }

    .botoes {
        flex-direction: column;
        width: 100%;
    }

    #botao-criptografar {
        margin-bottom: 15px;
    }

    .texto-resultante {
        width: 100%;
        background: #0cca4b;

        background-position: center;
    }

    .copiar {
        width: 90%;
    }

    .rodape {
        flex-direction: column;
    }

    .imagem-rodape {
        text-align: center;
        padding: 0;
        margin: 3px 0;
    }

    .rodape a img {
        height: 25px;
        padding: 1px 0;
    }

    .rodape p {
        padding: 2px 0;
    }
}